.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 5px;
    width: 850px;
    margin: 35px auto auto;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 800px;
    margin-left: 50px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 15px 0px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    width: 750px;
}

.entryContainerNevek {
    margin: auto;
    /* padding-top: 10px; */
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.entryContainerMenuHome,
.entryContainerMenuABC,
.entryContainerMenuIdorend,
.entryContainerMenuCollection {
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    margin: 10px auto;
    width: 210px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.entryContainerMenuIdorend:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/clock.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

.entryContainerMenuABC:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/abc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

.entryContainerMenuCollection:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/stat.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}