.title {
    margin: 3vh auto;
    text-align: center;
}

#wrapper {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entryMain {
    margin: auto 0;
    width: 950px;
    display: flex;
    flex-direction: column nowrap;
    justify-content: center;
}

.entryContainer {
    margin: 0 auto;
    width: 900px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    text-align: center;
}
  
.entryContainerH1 {
    margin: auto;
    font-size: 25px;
    display: inline-block;
    white-space: wrap;
    word-break: break-word;
}

.entryContainerNevek {
    margin: auto;
    padding-top: 10px;
    border-top: 2px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
  
.entryContainerBekuldo2,
.entryContainerMagyarazo2,
.entryContainerMagy,
.entryContainerDatum2,
.entryContainerIndex,
.entryContainerMenuHome,
.entryContainerMenuABC,
.entryContainerMenuCollection,
.entryContainerMenuAbout {
    margin: auto;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

.entryContainerBekuldo2,
.entryContainerMagyarazo2,
.entryContainerDatum2,
.entryContainerMenuHome,
.entryContainerMenuABC,
.entryContainerMenuCollection,
.entryContainerMenuAbout
{
    width: 210px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.entryContainerMagy {
    min-height: 30vh;
}

.entryContainerMenuHome,
.entryContainerMenuABC,
.entryContainerMenuCollection,
.entryContainerMenuAbout {
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

/* .entryContainerMenuHome:hover::before */

.entryContainerMenuABC:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/abc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

.entryContainerMenuCollection:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/collection.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

.entryContainerMenuAbout:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/stat.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

.entryNavBtn{
    width: 100%;
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.entryContainerNavBtnRight {
  cursor: pointer;
  width: auto;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid white;
  transform: rotate(90deg);
}

.entryContainerNavBtnLeft {
    cursor: pointer;
    width: auto;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid white;
    transform: rotate(-90deg);
}

@media (max-width: 1013px) {
    .entryMain, .entryContainer {
        width: 750px;
    }
}

@media (max-width: 885px) {
    .entryMain, .entryContainer {
        width: 650px;
    }
}

@media (max-width: 790px) {
    .entryMain, .entryContainer {
        width: 550px;
    }
}

@media (max-width: 690px) {
    .entryMain, .entryContainer {
        width: 450px;
    }
    .entryContainerNevek {
        flex-wrap: wrap;
    }
}

@media (max-width: 590px) {
    .entryMain, .entryContainer {
        width: 350px;
    }
    .entryContainerNevek {
        flex-wrap: wrap;
    }
}

@media (max-width: 500px){
    .entryMain, .entryContainer {
        width: 250px;
    }
}