.entryMain {
    margin: auto;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.entryContainer {
    margin: 0 auto;
    width: 900px;
    border: 2px solid white;
    padding: 10px;
    margin: auto;
    text-align: center;
}
  
.entryContainerH1 {
    margin: auto;
    font-size: 25px;
    display: inline-block;
    white-space: nowrap;
}

.entryContainerNevek {
    margin: auto;
    padding-top: 10px;
    border-top: 2px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
  
.entryContainerBekuldo2,
.entryContainerMagyarazo2,
.entryContainerMagy,
.entryContainerDatum2 {
    margin: auto;
    border: 2px solid white;
    padding: 5px;
    margin-bottom: 10px;
}

.entryContainerMagy {
    min-height: 10vh;
}